

@model MenuItemViewModel
@using Spice.Extensions
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1 class="text-info">MenuItem Details</h1>
<br />


<form method="post" role="form" asp-controller="MenuItem" asp-action="Details" enctype="multipart/form-data">
    <div class="border backgroundWhite row">
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Name" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input type="text" asp-for="MenuItem.Name" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Description" class="col-form-label"></label>
                </div>
                <textarea class="form-control col-8" disabled asp-for="MenuItem.Description"></textarea>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Price" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input type="text" asp-for="MenuItem.Price" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Image" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="files" multiple asp-for="MenuItem.Image" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.Spicyness" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <select class="form-control"  asp-for="MenuItem.Spicyness" asp-items="Html.GetEnumSelectList<MenuItem.Espicy>()">
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.CategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input class="form-control"  asp-for="@Model.MenuItem.Category.Name" id="CategoryId">
                    
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MenuItem.SubCategoryId"  class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control"  asp-for="@Model.MenuItem.SubCategory.Name" id="SubCategoryId" name="SubCategoryId">
                    
                </div>
            </div>
        </div>
        <div class="col-3 offset-1">
            <img src="@Model.MenuItem.Image" width="100%" style="border-radius:5px; border:1px solid #bbb9b1;" />
        </div>
        <div class="col-8">
            <div class="col-8 offset-4">
                <partial name="_DetailsAndBackListButton" model="Model.MenuItem.Id">
            </div>
        </div>

    </div>
</form>

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            getSubCategory();
            $('#CategoryId').change(function () {
                getSubCategory();
            });
        });

        function getSubCategory() {
            var url = '@Url.Content("~/")' + "Admin/SubCategory/GetSubCategory";
            var ddlsoruce = '#CategoryId';
            $.getJSON(url, { id: $(ddlsoruce).val() }, function (data) {
                var items = '';
                $('#SubCategoryId').empty();
                $.each(data, function (i, subcategory) {
                    items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                });
                console.log(items)
                $('#SubCategoryId').html(items);
            });
        }
    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
